{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "indent": [
      2,
      4
    ],
    "quotes": ["error", "double"],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/no-array-index-key":[0],
    "arrow-parens": [
      "error",
      "always"
    ],
    "prettier/prettier": [
      "error"
    ],
    "implicit-arrow-linebreak": [
     0
    ],
    "operator-linebreak"  : [0],
    "function-paren-newline": [
      0,
      {
        "minItems": 3
      }
    ]
  }
}
