$salmon-main: rgb(225, 106, 87)
$beige-main: rgb(223, 174, 110)
$grey-complement: #555555
$blue: #57cee1
$footer-color: #f5f5f5

$primary: $salmon-main
$secondary: $beige-main
$light-gray: $grey-complement