.font-header-1 {
    font-size: 3em;
    font-weight: bolder;
}

.font-header-2 {
    font-size: 2em;
    font-weight: bolder;
}

.font-header-3 {
    font-size: 1em;
    font-weight: bold;
}

.font-body-copy {
    font-size: 1em;
}
