.about-container
  height: 100%
  display: flex
  z-index: -8
  iframe
    height: 80vh
    overflow: auto
    width: 60%
    margin-right: auto
    margin-left: auto
    border: none
    text-decoration: none
    +shadow()