@import "variables/sizes"
@import "variables/colors"
#footer
  width: 100%
  background: $footer
  color: $salmon-main
  font-size: 125%
  height: auto
  #footer-line
    text-align: center
    margin: 10px
