#body {
  flex: 1;
  display: inline-flex;
  flex-direction: column; }
  #body #content {
    flex: 1; }
  #body #footer {
    align-self: flex-end;
    justify-self: flex-end;
    align-content: center;
    justify-content: center;
    background: #dfbd87;
    width: 100%;
    height: 75px; }
  #body #footer-line {
    text-align: center; }
