.font-header-1 {
  font-size: 3em;
  font-weight: bolder; }

.font-header-2 {
  font-size: 2em;
  font-weight: bolder; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold; }

.font-body-copy {
  font-size: 1em; }

.font-header-1 {
  font-size: 3em;
  font-weight: bolder; }

.font-header-2 {
  font-size: 2em;
  font-weight: bolder; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold; }

.font-body-copy {
  font-size: 1em; }

#location-meta-card {
  float: left;
  position: absolute;
  right: 0; }
  #location-meta-card .location-meta-card {
    padding: 24px 25% 24px 18px;
    border-radius: 4px 0 0 4px;
    background-color: #ef5350; }
  #location-meta-card .location-phone-card {
    padding: 18px;
    float: right;
    border-radius: 8px;
    margin-right: 25%;
    background-color: #ef5350; }

.float-right {
  float: right; }

#body {
  position: absolute;
  left: 0;
  top: 300px;
  flex: 1;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  background: url("./images/tree.png") repeat;
  min-height: calc(100% - 300px); }
  @media (max-width: 768px) {
    #body {
      top: 120px; } }
  #body #content {
    min-height: calc(100vh - 300px);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1; }
    @media (max-width: 768px) {
      #body #content {
        min-height: calc(100vh - 120px); } }
    #body #content > .card {
      height: 100%;
      background: whitesmoke;
      flex: 1;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35); }
      #body #content > .card:only-child {
        padding: 20px;
        margin: 50px; }
  #body #footer {
    align-self: flex-end;
    justify-self: flex-end;
    align-content: center;
    justify-content: flex-start;
    background: #d0d0d0;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    bottom-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); }
    #body #footer #footer-line {
      text-align: center;
      margin: 25px; }
      #body #footer #footer-line:first-child {
        margin-left: 100px; }
