.font-header-1 {
  font-size: 3em;
  font-weight: bolder; }

.font-header-2 {
  font-size: 2em;
  font-weight: bolder; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold; }

.font-body-copy {
  font-size: 1em; }

#location-meta-card {
  position: relative;
  right: 0;
  top: 0;
  display: inline-flex;
  background: url("./location.png") no-repeat;
  background-size: cover;
  min-height: calc(100vh - 300px);
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1; }
  @media (max-width: 768px) {
    #location-meta-card {
      min-height: calc(100vh - 120px); } }
  #location-meta-card .location-container {
    flex: 1;
    display: inline-flex;
    flex-direction: column; }
  #location-meta-card .location-address {
    border-radius: 4px 0 0 4px;
    background-color: #ef5350;
    display: inline-flex;
    flex-direction: column;
    height: 20%; }
  #location-meta-card .location-phone-card {
    padding: 18px;
    float: right;
    border-radius: 8px;
    margin-right: 25%;
    background-color: #ef5350; }

#body {
  position: absolute;
  left: 0;
  top: 300px;
  flex: 1;
  background: #eee;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: calc(100% - 300px); }
  @media (max-width: 768px) {
    #body {
      top: 120px;
      min-height: calc(100% - 120px); } }
  #body > .card {
    height: 100%;
    background: whitesmoke;
    flex: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35); }
    #body > .card:only-child {
      padding: 20px;
      margin: 50px; }
  #body #footer {
    border-top: thin solid #757575;
    width: 100%;
    position: relative;
    bottom: 0;
    bottom-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); }
    #body #footer #footer-line {
      color: #757575;
      text-align: center;
      margin: 25px; }
