.header {
  width: 100%;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; }
  .header .logo {
    height: 175px;
    width: 175px; }
  .header #button-container {
    background: rosybrown;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 400px; }
    .header #button-container #menu-button {
      flex: 1;
      background: green;
      text-align: center; }
      .header #button-container #menu-button:hover {
        background: dodgerblue; }
