.font-header-1 {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 16px; }

.font-header-2 {
  font-size: 2em;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 8px; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0; }

.font-caption {
  font-size: 0.85em; }

.font-body-copy {
  font-size: 1em; }

#top-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.home-body {
  height: calc(100vh - 300px - 50px);
  margin: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .home-body {
      margin: 0; } }
  .home-body #home-item {
    height: calc(100vh - 300px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; }
    .home-body #home-item img {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0; }
