.font-header-1 {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 16px; }

.font-header-2 {
  font-size: 2em;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 8px; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0; }

.font-caption {
  font-size: 0.85em; }

.font-body-copy {
  font-size: 1em; }

.home-body {
  height: calc(100vh - 300px - 50px);
  margin: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .home-body {
      margin: 0; } }
  .home-body #home-item {
    height: calc(100vh - 300px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; }
    .home-body #home-item > img {
      object-fit: fill;
      width: 100%;
      height: 100%; }

.featured-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.featured-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  background-color: #dfae6e; }
  .featured-item .image {
    width: 45%;
    heigth: 1em; }
    .featured-item .image img {
      width: 100%;
      height: 100%; }
  .featured-item .meta {
    padding-left: 18px;
    width: 55%; }
    .featured-item .meta .font-header-1 {
      margin-bottom: 0; }
    .featured-item .meta .font-caption {
      margin-top: 0;
      font-size: 1.25em;
      color: red; }

@media (max-width: 768px) {
  .featured-item {
    flex-direction: column; }
    .featured-item .image {
      width: 100%; }
    .featured-item .meta {
      padding: 0 18px;
      width: 100%; } }
