#location-meta-card
  float: left
  position: absolute
  right: 0
  .location-meta-card
    padding: 24px 25% 24px 18px
    border-radius: 4px 0 0 4px
    background-color: $primary
  .location-phone-card
    padding: 18px
    float: right
    border-radius: 8px
    margin-right: 25%
    background-color: $primary
.float-right
  float: right