.section-card .section {
  text-align: center;
  background-color: cadetblue;
  padding: 18px;
  margin-bottom: 18px; }

.section-card .card {
  background-color: #fffdf3;
  margin: auto;
  max-width: 997px;
  border-radius: 8px;
  padding: 18px; }
