@import 'partials/header'
@import 'partials/body'
@import 'partials/location'
@import 'partials/menu'
@import 'partials/home'
@import 'partials/footer'
@import 'partials/contact'
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

body
  background: $beige-main

.screen
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  left: 0
  margin: 0 auto
  padding: 0 auto
  z-index: -2

@font-face
  src: url("./icons/castro.ttf")
  font-family: penis

::-webkit-scrollbar
  display: none
