@import './partials/header.sass'
@import './partials/body.sass'
@import './partials/section-card.sass'
@import './partials/menu.sass'
@import './partials/home.sass'
@import './partials/footer.sass'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

body
  background: #eeeeee

.screen
  width: 100%
  min-height: 100vh
  position: absolute
  top: 0
  left: 0
  margin: 0 auto
  padding: 0 auto