.header-wrapper {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); }
  .header-wrapper .header {
    display: flex;
    flex-direction: row;
    background: #5A352D;
    z-index: 500;
    min-height: 100px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header-wrapper .header .header-logo {
      background: url("./images/logo.svg") no-repeat center;
      background-size: contain;
      width: 400px;
      height: 110px;
      float: left;
      margin: 10px; }
    .header-wrapper .header .header-inner {
      float: right;
      font-family: Baskerville, sans-serif;
      font-size: 3vh;
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 400px; }
      .header-wrapper .header .header-inner .header-item {
        color: white;
        text-align: center; }
        .header-wrapper .header .header-inner .header-item:hover {
          border-bottom: 1px solid white; }

.location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .location-container .map {
    max-width: 70%;
    height: 80vh;
    flex: 1; }
    .location-container .map iframe {
      width: 100%;
      height: 100%;
      z-index: -1; }
    @media (max-width: 768px) {
      .location-container .map {
        min-width: 100%;
        height: 400px; } }
  .location-container .one {
    font-size: 150%;
    padding: 10px;
    flex: 1;
    max-width: 30%; }
    @media (max-width: 768px) {
      .location-container .one {
        min-width: 100%; } }

.menu-section {
  display: inline-flex;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  width: 100%; }
  @media (max-width: 768px) {
    .menu-section {
      margin: 5px 0 0; } }

.menu-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  color: black;
  font-size: 150%;
  border-bottom: 1px solid black;
  white-space: pre-wrap; }
  @media (max-width: 768px) {
    .menu-title {
      width: 100%; } }
  .menu-title .title {
    font-size: 200%; }

.menu-items-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Baskerville, sans-serif;
  white-space: pre-wrap;
  width: 100%; }
  .menu-items-container .menu-item {
    width: 33%;
    max-width: 33%;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    padding-right: 50px;
    align-content: center;
    margin-top: 15px;
    color: black; }
    @media (max-width: 768px) {
      .menu-items-container .menu-item {
        width: 100%;
        max-width: 100%;
        padding: 0; } }
    .menu-items-container .menu-item .title {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid black;
      font-family: Baskerville, sans-serif;
      font-size: 175%; }
      .menu-items-container .menu-item .title .name {
        margin-right: auto; }
    .menu-items-container .menu-item .content {
      margin-top: 10px;
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 125%; }

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -3;
  background: url("./images/asd.jpg");
  background-size: cover; }

.mask {
  height: 100%;
  width: 100%;
  background: rgba(252, 251, 227, 0.7);
  position: absolute;
  top: 0;
  z-index: -2; }

.special-wrapper {
  z-index: -1;
  color: black;
  width: 100%;
  min-height: 100%;
  flex-direction: column !important;
  position: relative;
  background: url("./images/asd.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(252, 251, 227, 0.7); }
  .special-wrapper .special-title {
    font-family: penis, sans-serif;
    font-size: 100px;
    height: auto;
    margin: 50px auto 50px 100px;
    float: left; }
    @media (max-width: 768px) {
      .special-wrapper .special-title {
        margin: 5px; } }
  .special-wrapper .special-items {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    font-family: Baskerville, sans-serif;
    padding-bottom: 20px; }
    .special-wrapper .special-items .special-name-price-content {
      display: flex;
      border-bottom: 1px solid black;
      margin-top: 20px;
      height: auto; }
      .special-wrapper .special-items .special-name-price-content .price {
        margin-left: auto; }
    .special-wrapper .special-items .content {
      font-size: 50%; }
      .special-wrapper .special-items .content:last-child {
        margin-bottom: 15px; }

#footer {
  width: 100%;
  background: rgba(224, 160, 111, 0.41);
  color: #5A352D;
  font-size: 125%;
  height: auto; }
  #footer #footer-line {
    text-align: center;
    margin: 10px; }

.phone-number {
  color: white;
  height: auto;
  width: auto; }

.email {
  color: white;
  height: auto;
  width: auto; }

.container {
  min-height: 90vh;
  position: relative; }

.about-container iframe {
  height: 400px;
  width: 900px; }

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .gallery-container {
      width: 95%; } }
  @media (max-width: 768px) {
    .gallery-container .gallery-image {
      max-width: 100%;
      min-width: 100%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  background: #FCFBE3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden; }

@font-face {
  src: url("./icons/castro.ttf");
  font-family: penis; }

::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none; }

.content-wrapper {
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }
