@import 'partials/_header.styl'
@import 'partials/_location.styl'
@import 'partials/_menu.styl'
@import 'partials/_home.styl'
@import 'partials/_footer.styl'
@import 'partials/_contact.styl'
@import 'partials/_structure.styl'
@import 'partials/_about.styl'
@import 'partials/_gallery.styl'
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

body
  background: $beige-main
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  height: 100%
  overflow-x: hidden

@font-face
  src: url("./icons/castro.ttf")
  font-family: penis


::-webkit-scrollbar
  display: none

a
  text-decoration: none

.content-wrapper
  overflow-x: hidden
  display: flex
  flex-direction: column
