.font-header-1 {
  font-size: 3em;
  font-weight: bolder; }

.font-header-2, .section {
  font-size: 2em;
  font-weight: bolder; }

.font-header-3 {
  font-size: 1em;
  font-weight: bold; }

.font-body-copy, .card {
  font-size: 1em; }

.header {
  width: 100%;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #e16a57; }
  .header .logo {
    height: 175px;
    width: 175px; }
  .header #button-container {
    background: rosybrown;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 400px; }
    .header #button-container #menu-button {
      flex: 1;
      background: green;
      text-align: center; }
      .header #button-container #menu-button:hover {
        background: dodgerblue; }

#body {
  flex: 1;
  display: inline-flex;
  flex-direction: column; }
  #body #content {
    flex: 1; }
  #body #footer {
    align-self: flex-end;
    justify-self: flex-end;
    align-content: center;
    justify-content: center;
    background: #dfbd87;
    width: 100%;
    height: 75px; }
  #body #footer-line {
    text-align: center; }

.section {
  text-align: center;
  background-color: cadetblue;
  padding: 18px; }

.card {
  background-color: gray;
  margin: 18px auto;
  max-width: 997px;
  border-radius: 8px;
  padding: 18px; }
  .card img {
    width: 100%;
    height: 560px;
    object-fit: cover; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.screen {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
