@import './partials/header.sass'
@import './partials/body.sass'
@import './partials/section-card.sass'
@import './partials/menu.sass'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

.screen
  width: 100%
  min-height: 100vh
  max-height: 100%
  position: absolute
  top: 0
  left: 0
  margin: 0 auto
  display: flex
  flex-direction: column
  flex-basis: 0